.cover_photo {
  background-image: url(Images/cover_photo.jpg);
  background-size: cover;
  height: 550px;
}

.jumbotron h1 {
  color: white;
}

.jumbotron p {
  color: darkorange;
}

.special {
background-image: url(Images/father_son.jpg);
background-size: cover;
height: 685px;
}

.special h3 {
  color: white;
}

.special_text {
  max-width: 600px;
  /* margin-bottom: 0; */
}

.header h2 {
  color: white;
  font-weight: normal;
  font-family: 'Crimson Text', serif;
}

.header span {
  margin: 0 3px;
}

h3, h4, h5 {
  color: darkgrey;
  font-weight: normal;
}

.header a {
  color: darkgrey;
  font-weight: normal;
}

.header a:hover {
  color: white;
  font-weight: normal;
}

p, li {
  color: lightgrey;
}

.Disclaimer p {
  color: darkgrey;
}

body {
  background-color: #2c422e;
}

hr {
  background-color: #3a673e;
}

.pricing h2 {
  color: darkorange;
}

.amenities h2 {
  color: darkorange;
}

.amenities h4 {
  color: darkorange;
  text-decoration: underline;
}

.pricing h4 {
  color: lightgrey;
}

.table .thead-dark th {
  background-color: #343a40;
}

.table td, th {
  color: lightgrey;
}

.footer p, .footer h4 {
  color: #3a673e;
}

.footer a {
  color: #3a673e;
  text-decoration: underline;
}

.footer a:hover {
  color: #3a673e;
  text-decoration: underline;
  color: darkgrey;
}
